<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="/static/img/profile_small.jpg" width="48" height="48" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
		                <span class="clear"><span class="block m-t-xs"><strong class="font-bold">陈刚</strong></span>
		                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/user/profile/info">个人资料</a></li>
                        <li><a href="/user/profile/pwd">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="/loginout">退出</a></li>
                    </ul>
                </div>
                <div class="logo-element">BM</div>
            </li>
            <li class="active">
                <a href="#"><i class="fa  fa-user"></i> <span class="nav-label">主页</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href=/index/summary">总览</a></li>
                    <li><a href="/index/statistics/list">统计</a></li>
                    <li><a href="/iotcard/list">卡片管理</a></li>
                </ul>
            </li>
        </ul>
        <div class="left_bottom">BM</div>
    </div>
</nav>
