<!DOCTYPE html>
<html>
<head>
<title>首页</title>
{(inc/header.html)}
</head>

<body>
<div id="wrapper">
    {(inc/left.html)}
    <div id="page-wrapper" class="gray-bg">
        {(inc/head.html)}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            <div class="pull-left m-r-md"><i class="fa fa-globe text-navy mid-icon"></i></div>
                            <h2>Welcome to {* global.web_name *} BM</h2>
                            <span>请选择左侧导航按钮进入相应的功能界面.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">

                </div>
            </div>
        </div>
        {(inc/foot.html)}
    </div>
</div>
{(inc/js.html)}
</body>
</html>